<a href="https://colab.research.google.com/github/agamthind96/AMEX_default_prediction_kaggle/blob/main/AMEX_default_prediction_feature_selection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
train_df = pd.read_csv("/content/drive/MyDrive/AMEX_default_prediction_kaggle/chunk1.csv")
train_df.head()

,customer_ID,S_2,P_2,D_39,B_1,B_2,R_1,S_3,D_41,B_3,...,D_136,D_137,D_138,D_139,D_140,D_141,D_142,D_143,D_144,D_145
0,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-03-09,0.938469,0.001733,0.008724,1.006838,0.009228,0.124035,0.008771,0.004709,...,NaN,NaN,NaN,0.002427,0.003706,0.003818,NaN,0.000569,0.000610,0.002674
1,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-04-07,0.936665,0.005775,0.004923,1.000653,0.006151,0.126750,0.000798,0.002714,...,NaN,NaN,NaN,0.003954,0.003167,0.005032,NaN,0.009576,0.005492,0.009217
2,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-05-28,0.954180,0.091505,0.021655,1.009672,0.006815,0.123977,0.007598,0.009423,...,NaN,NaN,NaN,0.003269,0.007329,0.000427,NaN,0.003429,0.006986,0.002603
3,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-06-13,0.960384,0.002455,0.013683,1.002700,0.001373,0.117169,0.000685,0.005531,...,NaN,NaN,NaN,0.006117,0.004516,0.003200,NaN,0.008419,0.006527,0.009600
4,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-07-16,0.947248,0.002483,0.015193,1.000727,0.007605,0.117325,0.004653,0.009312,...,NaN,NaN,NaN,0.003671,0.004946,0.008889,NaN,0.001670,0.008126,0.009827

## D_Variables

In [113]:
train_df_D = train_df.copy()
train_df_D.head()

,customer_ID,S_2,P_2,D_39,B_1,B_2,R_1,S_3,D_41,B_3,...,D_136,D_137,D_138,D_139,D_140,D_141,D_142,D_143,D_144,D_145
0,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-03-09,0.938469,0.001733,0.008724,1.006838,0.009228,0.124035,0.008771,0.004709,...,NaN,NaN,NaN,0.002427,0.003706,0.003818,NaN,0.000569,0.000610,0.002674
1,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-04-07,0.936665,0.005775,0.004923,1.000653,0.006151,0.126750,0.000798,0.002714,...,NaN,NaN,NaN,0.003954,0.003167,0.005032,NaN,0.009576,0.005492,0.009217
2,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-05-28,0.954180,0.091505,0.021655,1.009672,0.006815,0.123977,0.007598,0.009423,...,NaN,NaN,NaN,0.003269,0.007329,0.000427,NaN,0.003429,0.006986,0.002603
3,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-06-13,0.960384,0.002455,0.013683,1.002700,0.001373,0.117169,0.000685,0.005531,...,NaN,NaN,NaN,0.006117,0.004516,0.003200,NaN,0.008419,0.006527,0.009600
4,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-07-16,0.947248,0.002483,0.015193,1.000727,0.007605,0.117325,0.004653,0.009312,...,NaN,NaN,NaN,0.003671,0.004946,0.008889,NaN,0.001670,0.008126,0.009827

In [114]:
for ele in train_df.columns :
  if ele[0] != 'D':
    train_df_D.drop(ele, axis=1, inplace=True)

train_df_D.shape

(300000, 96)

In [115]:
lis_D = ['D_114', 'D_116', 'D_117', 'D_120', 'D_126', 'D_63', 'D_64', 'D_66', 'D_68']
for ele in lis_D :
  train_df_D.drop(ele, axis=1, inplace=True)

train_df_D.shape

(300000, 87)

### Feature Selection using VarianceThreshold

In [116]:
from sklearn.feature_selection import VarianceThreshold
sel = VarianceThreshold(threshold=0)
sel.fit(train_df_D)

VarianceThreshold(threshold=0)

In [117]:
sel.get_support()

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True, False,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True])

In [118]:
sum(sel.get_support())

86

* So there are no column in **train_df_D** dataframe in which all rows have similar values.

### Removing Quasi-constant features using VarianceThreshold

In [119]:
sel = VarianceThreshold(threshold=0.01)
sel.fit(train_df_D)

VarianceThreshold(threshold=0.01)

In [120]:
sum(sel.get_support())

82

* Getting the columns which are quasi-constant

In [121]:
[x for x in train_df_D.columns if x not in train_df_D.columns[sel.get_support()]]

['D_87', 'D_89', 'D_93', 'D_109', 'D_137']

* Here we will check the value counts for each of the above mentioned columns.

In [122]:
train_df_D['D_87'].value_counts()

1.0    197
Name: D_87, dtype: int64

In [123]:
train_df_D['D_87'].isna().sum()

299803

In [124]:
train_df_D['D_89'].value_counts()

0.002665    1
0.003411    1
0.003436    1
0.001989    1
0.009195    1
           ..
0.004149    1
0.008007    1
0.000293    1
0.000317    1
0.003066    1
Name: D_89, Length: 298446, dtype: int64

In [125]:
train_df_D['D_93'].value_counts()

0.003569    1
0.008548    1
0.003533    1
0.008076    1
0.006639    1
           ..
0.001256    1
0.009673    1
0.004841    1
0.007141    1
0.001376    1
Name: D_93, Length: 300000, dtype: int64

In [126]:
train_df_D['D_109'].value_counts()

0.004326    1
0.003372    1
0.001081    1
0.009392    1
0.000430    1
           ..
0.006225    1
0.003745    1
0.007418    1
0.000386    1
0.008034    1
Name: D_109, Length: 299893, dtype: int64

In [127]:
train_df_D['D_137'].value_counts()

0.006671    1
0.002737    1
0.000102    1
0.000209    1
0.005333    1
           ..
0.004346    1
0.005335    1
0.009360    1
0.004858    1
0.008778    1
Name: D_137, Length: 10517, dtype: int64

In [128]:
train_df_D['D_137'].isna().sum()

289483

* We will be removing **D_87** and **D_137** from our dataframe.

In [129]:
train_df_D = train_df_D.drop(['D_87','D_137'], axis=1)
train_df_D.shape

(300000, 85)

In [130]:
y_train = pd.read_csv("/content/drive/MyDrive/AMEX_default_prediction_kaggle/labels_300000")['target']
y_train.head()

0    0
1    0
2    0
3    0
4    0
Name: target, dtype: int64

In [131]:
for ele in train_df_D.columns :
  if train_df_D[ele].isna().sum() != 0:
    mean_value = train_df_D[ele].mean()
    train_df_D[ele].fillna(mean_value, inplace=True)

In [132]:
train_df_D_copy = train_df_D.copy()

train_df_D_copy = abs(train_df_D)

In [133]:
from sklearn.feature_selection import SelectKBest, chi2
X_new = SelectKBest(chi2, k=40).fit_transform(train_df_D_copy, y_train)
X_new.shape

(300000, 40)

In [134]:
X_new[:10]

array([[8.77113199e-03, 1.81156958e-01, 7.08906305e-01, 1.48697956e-01,
        1.33585579e+00, 7.68139170e-02, 3.54596012e-01, 1.52025236e-01,
        1.99617006e-01, 3.08233267e-01, 7.12616266e-03, 9.01329907e-03,
        1.19403206e-01, 2.54088603e-01, 1.57573621e-03, 4.06052351e-03,
        3.53197991e-03, 1.50367301e+00, 1.00613348e+00, 3.56854091e-03,
        8.87059291e-03, 4.95002943e-03, 7.66688198e-01, 6.70040782e-01,
        4.32552955e-03, 7.87113929e-03, 2.38250214e-01, 2.32119946e-01,
        2.36265664e-01, 4.34344808e-01, 6.86516479e-01, 8.73971922e-03,
        1.00331900e+00, 1.00007996e+00, 2.05168612e-03, 2.42703780e-03,
        3.81782021e-03, 5.69239561e-04, 6.09837070e-04, 2.67421405e-03],
       [7.98359495e-04, 1.81156958e-01, 7.12794725e-01, 1.49722538e-01,
        1.33979395e+00, 7.68139170e-02, 3.26756976e-01, 1.56200908e-01,
        1.51386994e-01, 2.65025967e-01, 2.41323923e-03, 7.84238463e-03,
        1.40610722e-01, 2.54088603e-01, 9.89583507e-03, 1.26509447e-04,
        7.77270078e-03, 1.50357729e+00, 1.00579126e+00, 5.70901221e-04,
        3.90776431e-04, 3.18008436e-03, 7.86006925e-01, 6.68647031e-01,
        8.70721014e-03, 3.44440372e-03, 2.47217325e-01, 2.43531650e-01,
        2.41884779e-01, 4.30500678e-01, 6.86414207e-01, 7.55018662e-04,
        1.00839436e+00, 1.00834409e+00, 1.03356378e-03, 3.95421271e-03,
        5.03163396e-03, 9.57648103e-03, 5.49204514e-03, 9.21682750e-03],
       [7.59761394e-03, 1.81156958e-01, 7.20883591e-01, 1.51955349e-01,
        1.33717892e+00, 7.68139170e-02, 3.04123991e-01, 1.53794553e-01,
        3.05883241e-01, 2.12165419e-01, 1.87804651e-03, 6.02527145e-03,
        7.58679917e-02, 2.54088603e-01, 9.62857474e-03, 9.54254488e-04,
        8.81122354e-03, 1.50335905e+00, 1.00580093e+00, 7.42544775e-03,
        9.23360031e-03, 5.43349532e-03, 8.06840052e-01, 6.70900507e-01,
        4.09194093e-03, 3.26918134e-03, 2.39866865e-01, 2.40767955e-01,
        2.39709951e-01, 4.34408505e-01, 6.90100525e-01, 9.61738973e-03,
        1.00930657e+00, 1.00687811e+00, 5.68122103e-03, 3.26899067e-03,
        4.26917926e-04, 3.42907965e-03, 6.98580161e-03, 2.60327090e-03],
       [6.85177238e-04, 1.81156958e-01, 7.23996974e-01, 1.51219413e-01,
        1.33990892e+00, 7.68139170e-02, 2.75055400e-01, 1.55772443e-01,
        2.73552802e-01, 2.04299782e-01, 5.89856066e-03, 5.27065978e-03,
        1.50208521e-01, 2.54088603e-01, 8.56773168e-03, 5.66532536e-03,
        4.65197842e-03, 1.50370144e+00, 1.00703585e+00, 6.64469687e-04,
        3.20016908e-03, 6.29101446e-05, 8.08213660e-01, 6.72619634e-01,
        9.70346939e-03, 5.32086129e-05, 2.40909906e-01, 2.39399641e-01,
        2.40726987e-01, 4.36902597e-01, 6.87779395e-01, 4.64897664e-03,
        1.00167067e+00, 1.00757257e+00, 7.10808004e-03, 6.11694272e-03,
        3.19997745e-03, 8.41922197e-03, 6.52730440e-03, 9.59990771e-03],
       [4.65264060e-03, 1.81156958e-01, 7.20619083e-01, 1.54025679e-01,
        1.34173541e+00, 7.68139170e-02, 2.31109953e-01, 1.54914030e-01,
        2.33102604e-01, 1.75655058e-01, 9.47912973e-03, 1.52084086e-04,
        9.64408087e-02, 2.54088603e-01, 3.28907641e-03, 4.46450966e-03,
        1.14095086e-03, 1.50990534e+00, 1.00291468e+00, 3.07859507e-03,
        3.84451316e-03, 5.34921584e-04, 8.22281118e-01, 6.73869456e-01,
        9.12025533e-03, 8.72381080e-03, 2.47939209e-01, 2.44199268e-01,
        2.42325421e-01, 4.37432570e-01, 6.88774066e-01, 9.73447773e-05,
        1.00988571e+00, 1.00813233e+00, 9.68048388e-03, 3.67140743e-03,
        8.88892121e-03, 1.67029609e-03, 8.12632867e-03, 9.82685533e-03],
       [9.85663277e-03, 1.81156958e-01, 7.21370757e-01, 1.49505539e-01,
        1.00057954e+00, 7.68139170e-02, 1.87969747e-01, 1.53647100e-01,
        3.57346663e-01, 1.21276015e-01, 2.22826668e-03, 2.78770273e-03,
        9.37989338e-02, 2.54088603e-01, 2.40679327e-03, 7.40443283e-03,
        4.82863596e-03, 1.00520749e+00, 1.00799455e+00, 5.28063994e-03,
        6.82962994e-03, 9.85876815e-03, 8.43321464e-01, 6.73100346e-01,
        7.93803939e-03, 9.55225251e-03, 2.38260248e-01, 2.44246986e-01,
        2.42621927e-01, 4.29885982e-01, 6.82296778e-01, 9.30474833e-03,
        1.00448146e+00, 1.00848545e+00, 5.15062700e-03, 1.92426261e-03,
        4.52921577e-03, 6.73555390e-04, 2.22270143e-03, 2.88358188e-03],
       [6.60341114e-03, 1.81156958e-01, 7.21724800e-01, 1.46442263e-01,
        1.00166889e+00, 7.68139170e-02, 1.48284265e-01, 1.59438171e-01,
        1.00680167e+00, 4.33913386e-01, 1.23402257e-03, 4.62264163e-03,
        1.37101661e-01, 2.54088603e-01, 6.49960548e-03, 2.83960437e-03,
        9.84696657e-03, 1.00843301e+00, 1.00846905e+00, 6.63912969e-03,
        5.05518570e-03, 2.65365436e-03, 8.63517517e-01, 6.74932436e-01,
        9.57279767e-03, 7.41571086e-03, 2.44206422e-01, 2.45034347e-01,
        2.44246256e-01, 4.35914307e-01, 6.82367734e-01, 6.34665742e-03,
        1.00235250e+00, 1.00265758e+00, 2.16901837e-03, 1.33606930e-03,
        9.38669807e-03, 7.72702848e-03, 7.66088959e-03, 2.22466776e-03],
       [9.52660972e-03, 1.81156958e-01, 7.23292724e-01, 1.47615304e-01,
        6.71205140e-01, 7.68139170e-02, 1.64949729e-01, 1.61966469e-01,
        1.00052354e+00, 4.33913386e-01, 3.45148097e-03, 7.81894155e-04,
        1.45203837e-01, 2.54088603e-01, 5.84326186e-03, 5.92237259e-03,
        7.06932652e-03, 1.00216925e+00, 3.93639554e-03, 3.43303864e-03,
        7.24835827e-03, 7.85617885e-03, 8.66999687e-01, 6.68131004e-01,
        7.26081763e-03, 2.01852891e-03, 2.47284468e-01, 2.39660264e-01,
        2.46852406e-01, 4.31740527e-01, 6.87171422e-01, 9.09877786e-03,
        1.00582039e+00, 1.00126246e+00, 7.82311844e-03, 2.39677167e-03,
        5.55339582e-03, 1.83145263e-03, 9.61608501e-03, 7.38513885e-03],
       [2.51865768e-03, 1.81156958e-01, 7.30917796e-01, 1.52756354e-01,
        6.69800546e-01, 7.68139170e-02, 1.60043504e-01, 1.58126759e-01,
        1.00942364e+00, 1.77125209e-01, 3.10089332e-05, 4.43594498e-03,
        2.86014293e-01, 2.54088603e-01, 3.62427542e-05, 2.07638879e-01,
        4.60416107e-03, 1.00366272e+00, 6.87279403e-03, 5.79504520e-03,
        8.47770267e-03, 3.66799255e-03, 8.82474710e-01, 6.74803080e-01,
        1.45978627e-03, 9.72364542e-03, 2.49872096e-01, 2.41341471e-01,
        2.44347983e-01, 4.33685281e-01, 6.87714780e-01, 2.68656542e-04,
        1.00992520e+00, 1.00701284e+00, 6.65186799e-03, 9.74236553e-03,
        7.94481517e-03, 8.72154360e-03, 4.36938079e-03, 9.95343010e-04],
       [4.62567914e-03, 1.81156958e-01, 7.35001154e-01, 1.54326224e-01,
        6.68378773e-01, 7.68139170e-02, 1.86765825e-01, 1.61247429e-01,
        1.00853371e+00, 1.81290558e-01, 1.15705681e-03, 5.50016349e-03,
        4.30953800e-01, 2.54088603e-01, 8.34109255e-03, 2.05174463e-01,
        3.88665263e-03, 1.00816110e+00, 1.55519537e-03, 9.44208072e-03,
        3.82682129e-03, 1.14584764e-04, 9.06699037e-01, 6.73030461e-01,
        5.98053432e-03, 3.36638206e-03, 2.50612097e-01, 2.51557428e-01,
        2.47126972e-01, 4.30119310e-01, 6.83206318e-01, 5.51308748e-03,
        1.00249864e+00, 1.00544465e+00, 4.97629536e-03, 3.61079053e-03,
        7.26603996e-03, 8.76343203e-03, 4.75250679e-03, 9.06830688e-03]])

## Forward Selection - Wrapper Method

* In wrapper methods, the feature selection process is based on a specific machine learning algorithm that we are trying to fit on a given dataset.

* It follows a greedy search approach by evaluating all the possible combinations of features against the evaluation criterion. The evaluation criterion is simply the performance measure which depends on the type of problem, for e.g. For regression evaluation criterion can be p-values, R-squared, Adjusted R-squared, similarly for classification the evaluation criterion can be accuracy, precision, recall, f1-score, etc. Finally, it selects the combination of features that gives the optimal results for the specified machine learning algorithm.

* In forward selection, we start with a null model and then start fitting the model with each individual feature one at a time and select the feature with the minimum p-value. Now fit a model with two features by trying combinations of the earlier selected feature with all other remaining features. Again select the feature with the minimum p-value. Now fit a model with three features by trying combinations of two previously selected features with other remaining features. Repeat this process until we have a set of selected features with a p-value of individual features less than the significance level.

In [135]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import roc_auc_score

In [136]:
train_df_D.shape

(300000, 85)

In [137]:
y_train.shape

(300000,)

In [138]:
numerics = ['int16','int32','int64','float16','float32','float64']
numerical_vars = list(train_df_D.select_dtypes(include=numerics).columns)
X_train_forward = train_df_D[numerical_vars]
X_train_forward.shape

(300000, 85)

In [139]:
X_train_forward, X_test_forward, y_train_forward, y_test_forward = train_test_split(train_df_D, y_train, random_state=42)
X_train_forward.shape, X_test_forward.shape, y_train_forward.shape, y_test_forward.shape

((225000, 85), (75000, 85), (225000,), (75000,))

In [140]:
# find and remove correlated features
def correlation(dataset, threshold):
    col_corr = set()  # Set of all the names of correlated columns
    corr_matrix = dataset.corr()
    for i in range(len(corr_matrix.columns)):
        for j in range(i):
            if abs(corr_matrix.iloc[i, j]) > threshold: # we are interested in absolute coeff value
                colname = corr_matrix.columns[i]  # getting the name of column
                col_corr.add(colname)
    return col_corr

corr_features = correlation(X_train_forward, 0.8)
print('correlated features: ', len(set(corr_features)) )

correlated features:  12

In [141]:
corr_features

{'D_104',
 'D_107',
 'D_118',
 'D_119',
 'D_131',
 'D_141',
 'D_143',
 'D_55',
 'D_61',
 'D_74',
 'D_75',
 'D_77'}

In [33]:
# removed correlated  features
X_train_forward.drop(labels=corr_features, axis=1, inplace=True)
X_test_forward.drop(labels=corr_features, axis=1, inplace=True)

In [34]:
X_train_forward.shape, X_test_forward.shape

((225000, 73), (75000, 73))

In [35]:
!pip install mlxtend

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: mlxtend in /usr/local/lib/python3.7/dist-packages (0.14.0)
Requirement already satisfied: scipy>=0.17 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.7.3)
Requirement already satisfied: scikit-learn>=0.18 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.0.2)
Requirement already satisfied: numpy>=1.10.4 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.21.6)
Requirement already satisfied: matplotlib>=1.5.1 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (3.2.2)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from mlxtend) (57.4.0)
Requirement already satisfied: pandas>=0.17.1 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.3.5)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1.5.1->mlxtend) (3.0.9)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1.5.1->mlxtend) (2.8.2)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1.5.1->mlxtend) (0.11.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1.5.1->mlxtend) (1.4.3)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from kiwisolver>=1.0.1->matplotlib>=1.5.1->mlxtend) (4.1.1)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.17.1->mlxtend) (2022.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.1->matplotlib>=1.5.1->mlxtend) (1.15.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.18->mlxtend) (1.1.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.18->mlxtend) (3.1.0)

In [36]:
import joblib
import sys
sys.modules['sklearn.externals.joblib'] = joblib

from mlxtend.feature_selection import SequentialFeatureSelector as SFS

In [37]:
pd.Series(y_train_forward).value_counts()

0    168265
1     56735
Name: target, dtype: int64

In [38]:

y_train_forward = y_train_forward.astype('int64')

In [39]:
X_train_forward_subset = X_train_forward[3000:13000]
y_train_forward_subset = y_train_forward[3000:13000]

In [40]:
sfs1 = SFS(RandomForestClassifier(),
           k_features = 10,
           forward = True,
           floating = False,
           verbose = 2,
           scoring = 'precision',
           cv = 3)

sfs1 = sfs1.fit(np.array(X_train_forward_subset), y_train_forward_subset)

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    4.1s remaining:    0.0s
/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 due to no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
[Parallel(n_jobs=1)]: Done  73 out of  73 | elapsed:  4.3min finished

[2022-07-18 06:14:36] Features: 1/10 -- score: 0.6944444444444445[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    4.2s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  72 out of  72 | elapsed:  4.3min finished

[2022-07-18 06:18:52] Features: 2/10 -- score: 0.5476190476190476[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    4.2s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  71 out of  71 | elapsed:  4.3min finished

[2022-07-18 06:23:10] Features: 3/10 -- score: 0.31803751803751806[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    4.0s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  70 out of  70 | elapsed:  4.2min finished

[2022-07-18 06:27:24] Features: 4/10 -- score: 0.3555387967152673[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    4.1s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  69 out of  69 | elapsed:  4.3min finished

[2022-07-18 06:31:40] Features: 5/10 -- score: 0.3306923222033578[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    4.1s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  68 out of  68 | elapsed:  4.3min finished

[2022-07-18 06:35:58] Features: 6/10 -- score: 0.3291997354497354[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    4.1s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  67 out of  67 | elapsed:  4.3min finished

[2022-07-18 06:40:16] Features: 7/10 -- score: 0.3192960588793922[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    4.1s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  66 out of  66 | elapsed:  4.3min finished

[2022-07-18 06:44:33] Features: 8/10 -- score: 0.3041797046687527[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    4.0s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  65 out of  65 | elapsed:  4.3min finished

[2022-07-18 06:48:52] Features: 9/10 -- score: 0.2970832992516221[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    4.1s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  64 out of  64 | elapsed:  4.3min finished

[2022-07-18 06:53:07] Features: 10/10 -- score: 0.2957180755631353

In [42]:
list(sfs1.k_feature_idx_)

[9, 25, 31, 35, 46, 48, 49, 62, 64, 67]

In [43]:
X_train_forward_subset.columns[list(sfs1.k_feature_idx_)]

Index(['D_49', 'D_73', 'D_82', 'D_88', 'D_108', 'D_110', 'D_111', 'D_132',
       'D_134', 'D_138'],
      dtype='object')

### Try Forward Selection again with some changes in data and change K value.

In [44]:
X_train_forward['target'] = y_train_forward

In [45]:
X_train_forward.shape

(225000, 74)

In [46]:
X_train_forward_part2 = X_train_forward.sample(n=15000)

In [47]:
y_train_forward_part2 = X_train_forward_part2['target']
X_train_forward_part2 = X_train_forward_part2.drop('target', axis=1)

In [48]:
sfs1 = SFS(RandomForestClassifier(),
           k_features = 20,
           forward = True,
           floating = False,
           verbose = 2,
           scoring = 'precision',
           cv = 3)

sfs1 = sfs1.fit(np.array(X_train_forward_part2), y_train_forward_part2)

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    7.0s remaining:    0.0s
/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 due to no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
[Parallel(n_jobs=1)]: Done  73 out of  73 | elapsed:  7.1min finished

[2022-07-18 07:31:56] Features: 1/20 -- score: 0.6071428571428571[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    7.1s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  72 out of  72 | elapsed:  7.1min finished

[2022-07-18 07:39:02] Features: 2/20 -- score: 0.6185185185185186[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    7.0s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  71 out of  71 | elapsed:  7.2min finished

[2022-07-18 07:46:11] Features: 3/20 -- score: 0.44804318488529016[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    7.3s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  70 out of  70 | elapsed:  7.1min finished

[2022-07-18 07:53:20] Features: 4/20 -- score: 0.3915750915750915[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    7.0s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  69 out of  69 | elapsed:  7.2min finished

[2022-07-18 08:00:31] Features: 5/20 -- score: 0.361009361009361[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    6.9s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  68 out of  68 | elapsed:  7.1min finished

[2022-07-18 08:07:37] Features: 6/20 -- score: 0.34732724902216433[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    6.9s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  67 out of  67 | elapsed:  7.1min finished

[2022-07-18 08:14:43] Features: 7/20 -- score: 0.33523860713996995[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    6.6s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  66 out of  66 | elapsed:  6.9min finished

[2022-07-18 08:21:37] Features: 8/20 -- score: 0.32613071039109415[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    7.0s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  65 out of  65 | elapsed:  7.3min finished

[2022-07-18 08:28:53] Features: 9/20 -- score: 0.3268975093804473[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    7.0s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  64 out of  64 | elapsed:  7.2min finished

[2022-07-18 08:36:06] Features: 10/20 -- score: 0.32870517576399927[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    7.0s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  63 out of  63 | elapsed:  7.2min finished

[2022-07-18 08:43:16] Features: 11/20 -- score: 0.30805755728781037[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    6.8s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  62 out of  62 | elapsed:  7.0min finished

[2022-07-18 08:50:16] Features: 12/20 -- score: 0.3044248647355992[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    6.8s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  61 out of  61 | elapsed:  6.9min finished

[2022-07-18 08:57:10] Features: 13/20 -- score: 0.3018705290187589[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    7.0s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  60 out of  60 | elapsed:  6.9min finished

[2022-07-18 09:04:02] Features: 14/20 -- score: 0.30721428127170586[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    7.1s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  59 out of  59 | elapsed:  6.8min finished

[2022-07-18 09:10:52] Features: 15/20 -- score: 0.30356734954934966[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    7.8s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  58 out of  58 | elapsed:  7.5min finished

[2022-07-18 09:18:24] Features: 16/20 -- score: 0.2913404780690219[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    7.9s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  57 out of  57 | elapsed:  7.5min finished

[2022-07-18 09:25:52] Features: 17/20 -- score: 0.2949910257702107[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    8.5s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  56 out of  56 | elapsed:  7.8min finished

[2022-07-18 09:33:43] Features: 18/20 -- score: 0.30689467676443916[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    8.5s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  55 out of  55 | elapsed:  7.8min finished

[2022-07-18 09:41:32] Features: 19/20 -- score: 0.35186788520121853[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    8.5s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  54 out of  54 | elapsed:  7.6min finished

[2022-07-18 09:49:08] Features: 20/20 -- score: 0.39170787590453965

In [49]:
sfs1.k_feature_idx_

(2, 9, 12, 13, 15, 25, 26, 35, 45, 46, 48, 49, 53, 62, 64, 65, 66, 67, 69, 70)

In [50]:
X_train_forward_part2.columns[list(sfs1.k_feature_idx_)]

Index(['D_42', 'D_49', 'D_52', 'D_53', 'D_56', 'D_73', 'D_76', 'D_88', 'D_106',
       'D_108', 'D_110', 'D_111', 'D_121', 'D_132', 'D_134', 'D_135', 'D_136',
       'D_138', 'D_140', 'D_142'],
      dtype='object')

## Backward Elimination

* In backward elimination, we start with the full model (including all the independent variables) and then remove the insignificant feature with the highest p-value(> significance level). This process repeats again and again until we have the final set of significant features.

In [51]:
X_train_backward_part1 = X_train_forward.sample(n=15000)

In [52]:
y_train_backward_part1 = X_train_backward_part1['target']
X_train_backward_part1 = X_train_backward_part1.drop('target', axis=1)

In [54]:
sfsb = SFS(RandomForestClassifier(), 
           k_features=20, 
           forward=False, 
           floating=False, 
           verbose=2,
           scoring='accuracy',
           cv=3)

sfsb = sfsb.fit(np.array(X_train_backward_part1), y_train_backward_part1)

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:   27.0s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  73 out of  73 | elapsed: 33.1min finished

[2022-07-18 11:45:15] Features: 72/20 -- score: 0.7467999999999999[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:   26.8s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  72 out of  72 | elapsed: 32.7min finished

[2022-07-18 12:17:57] Features: 71/20 -- score: 0.7468666666666667[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:   26.9s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  71 out of  71 | elapsed: 32.0min finished

[2022-07-18 12:49:58] Features: 70/20 -- score: 0.7469333333333333[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:   26.9s remaining:    0.0s

STOPPING EARLY DUE TO KEYBOARD INTERRUPT...

* Feature selection refers to techniques that select a subset of the most relevant features (columns) for a dataset.

## Recursive Feature Elimination

* It is a greedy optimization algorithm which aims to find the best performing feature subset. It repeatedly creates models and keeps aside the best or the worst performing feature at each iteration. It constructs the next model with the left features until all the features are exhausted. It then ranks the features based on the order of their elimination.

* Recursive feature elimination performs a greedy search to find the best performing feature subset. It iteratively creates models and determines the best or the worst performing feature at each iteration. It constructs the subsequent models with the left features until all the features are explored. It then ranks the features based on the order of their elimination. In the worst case, if a dataset contains N number of features RFE will do a greedy search for 2N combinations of features.

In [55]:
from sklearn.feature_selection import RFE

In [56]:
# Init the transformer
rfe = RFE(estimator=RandomForestClassifier(), n_features_to_select=30)

# Fit to the training data
rfe = rfe.fit(X_train_backward_part1, y_train_backward_part1)

In [57]:
X_train_backward_part1.columns[rfe.support_]

Index(['D_39', 'D_44', 'D_47', 'D_52', 'D_54', 'D_59', 'D_60', 'D_65', 'D_70',
       'D_72', 'D_81', 'D_83', 'D_84', 'D_86', 'D_89', 'D_92', 'D_94', 'D_96',
       'D_103', 'D_109', 'D_112', 'D_113', 'D_124', 'D_127', 'D_128', 'D_133',
       'D_139', 'D_140', 'D_144', 'D_145'],
      dtype='object')

In [58]:
X_train_forward_part2.columns[list(sfs1.k_feature_idx_)]

Index(['D_42', 'D_49', 'D_52', 'D_53', 'D_56', 'D_73', 'D_76', 'D_88', 'D_106',
       'D_108', 'D_110', 'D_111', 'D_121', 'D_132', 'D_134', 'D_135', 'D_136',
       'D_138', 'D_140', 'D_142'],
      dtype='object')

## Embedding Methods

* Embedded methods are iterative in a sense that takes care of each iteration of the model training process and carefully extract those features which contribute the most to the training for a particular iteration. Regularization methods are the most commonly used embedded methods which penalize a feature given a coefficient threshold.

* This is why Regularization methods are also called penalization methods that introduce additional constraints into the optimization of a predictive algorithm (such as a regression algorithm) that bias the model toward lower complexity (fewer coefficients).

* Some of the most popular examples of these methods are LASSO and RIDGE regression which have inbuilt penalization functions to reduce overfitting.

### LASSO Regression

* Lasso regression performs L1 regularization which adds penalty equivalent to absolute value of the magnitude of coefficients.

* Regularisation consists in adding a penalty to the different parameters of the machine learning model to reduce the freedom of the model and in other words to avoid overfitting. In linear model regularisation, the penalty is applied over the coefficients that multiply each of the predictors. From the different types of regularisation, Lasso or l1 has the property that is able to shrink some of the coefficients to zero. Therefore, that feature can be removed from the model.

In [60]:
from sklearn.linear_model import Lasso
from sklearn.feature_selection import SelectFromModel
from sklearn.preprocessing import StandardScaler

In [61]:
scaler = StandardScaler()
scaler.fit(X_train_backward_part1)

StandardScaler()

## S-Variables

In [4]:
train_df_S = train_df.copy()
train_df_S.head()

,customer_ID,S_2,P_2,D_39,B_1,B_2,R_1,S_3,D_41,B_3,...,D_136,D_137,D_138,D_139,D_140,D_141,D_142,D_143,D_144,D_145
0,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-03-09,0.938469,0.001733,0.008724,1.006838,0.009228,0.124035,0.008771,0.004709,...,NaN,NaN,NaN,0.002427,0.003706,0.003818,NaN,0.000569,0.000610,0.002674
1,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-04-07,0.936665,0.005775,0.004923,1.000653,0.006151,0.126750,0.000798,0.002714,...,NaN,NaN,NaN,0.003954,0.003167,0.005032,NaN,0.009576,0.005492,0.009217
2,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-05-28,0.954180,0.091505,0.021655,1.009672,0.006815,0.123977,0.007598,0.009423,...,NaN,NaN,NaN,0.003269,0.007329,0.000427,NaN,0.003429,0.006986,0.002603
3,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-06-13,0.960384,0.002455,0.013683,1.002700,0.001373,0.117169,0.000685,0.005531,...,NaN,NaN,NaN,0.006117,0.004516,0.003200,NaN,0.008419,0.006527,0.009600
4,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-07-16,0.947248,0.002483,0.015193,1.000727,0.007605,0.117325,0.004653,0.009312,...,NaN,NaN,NaN,0.003671,0.004946,0.008889,NaN,0.001670,0.008126,0.009827

In [5]:
for ele in train_df.columns :
  if ele[0] != 'S':
    train_df_S.drop(ele, axis=1, inplace=True)

train_df_S.shape

(300000, 22)

In [7]:
train_df_S.head()

,S_2,S_3,S_5,S_6,S_7,S_8,S_9,S_11,S_12,S_13,...,S_17,S_18,S_19,S_20,S_22,S_23,S_24,S_25,S_26,S_27
0,2017-03-09,0.124035,0.023381,0.008322,0.161345,0.922998,0.065728,0.401619,0.272008,0.515222,...,0.008033,0.005720,0.002537,0.009705,0.894090,0.135561,0.911191,0.974539,0.001243,0.676922
1,2017-04-07,0.126750,0.030599,0.002482,0.140951,0.919414,0.093935,0.406326,0.188970,0.509048,...,0.000760,0.007584,0.008427,0.009924,0.902135,0.136333,0.919876,0.975624,0.004561,0.822281
2,2017-05-28,0.123977,0.048367,0.000530,0.112229,1.001977,0.084757,0.406768,0.495308,0.679257,...,0.004056,0.005901,0.007327,0.008446,0.939654,0.134938,0.958699,0.974067,0.011736,0.853498
3,2017-06-13,0.117169,0.030063,0.000783,0.102838,0.704016,0.048382,0.405175,0.508670,0.515282,...,0.006969,0.002520,0.007053,0.006614,0.913205,0.140058,0.926341,0.975499,0.007571,0.844667
4,2017-07-16,0.117325,0.054221,0.006698,0.094311,0.917133,0.039259,0.487460,0.216507,0.507712,...,0.001770,0.000155,0.007728,0.005511,0.921026,0.131620,0.933479,0.978027,0.018200,0.811199

In [9]:
train_df_S.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 22 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   S_2     300000 non-null  object
 1   S_3     243539 non-null  float64
 2   S_5     300000 non-null  float64
 3   S_6     300000 non-null  float64
 4   S_7     243539 non-null  float64
 5   S_8     300000 non-null  float64
 6   S_9     140375 non-null  float64
 7   S_11    300000 non-null  float64
 8   S_12    300000 non-null  float64
 9   S_13    300000 non-null  float64
 10  S_15    300000 non-null  float64
 11  S_16    300000 non-null  float64
 12  S_17    300000 non-null  float64
 13  S_18    300000 non-null  float64
 14  S_19    300000 non-null  float64
 15  S_20    300000 non-null  float64
 16  S_22    298965 non-null  float64
 17  S_23    299985 non-null  float64
 18  S_24    298989 non-null  float64
 19  S_25    299273 non-null  float64
 20  S_26    299950 non-null  float64
 21  S_27    223221 non-null  float64
dtypes: float64(21), object(1)
memory usage: 50.4+ MB

In [10]:
train_df_S.drop('S_2', axis=1, inplace=True)

### Feature Selection using VarianceThreshold

In [11]:
from sklearn.feature_selection import VarianceThreshold
sel = VarianceThreshold(threshold=0)
sel.fit(train_df_S)

VarianceThreshold(threshold=0)

In [12]:
sel.get_support()

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True])

* There are no column in **S_Variables** having same values throughout.

In [17]:
sel_S = VarianceThreshold(threshold=0.03)
sel_S.fit(train_df_S)

VarianceThreshold(threshold=0.03)

In [18]:
sel_S.get_support()

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True, False, False, False,  True,  True,  True,
        True,  True,  True])

* Here we don't have proper idea for which features to be considered, so we will be working with Wrapper techniques.

### Wrapper Techniques

In [19]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier

In [22]:
y_train = pd.read_csv("/content/drive/MyDrive/AMEX_default_prediction_kaggle/labels_300000")['target']
y_train.value_counts()

0    224534
1     75466
Name: target, dtype: int64

In [23]:
X_train_forward_S, X_test_forward_S, y_train_forward_S, y_test_forward_S = train_test_split(train_df_S, y_train, test_size=0.2, random_state=42)
X_train_forward_S.shape, X_test_forward_S.shape, y_train_forward_S.shape, y_test_forward_S.shape

((240000, 21), (60000, 21), (240000,), (60000,))

In [25]:
# find and remove correlated features
def correlation(dataset, threshold):
    col_corr = set()  # Set of all the names of correlated columns
    corr_matrix = dataset.corr()
    for i in range(len(corr_matrix.columns)):
        for j in range(i):
            if abs(corr_matrix.iloc[i, j]) > threshold: # we are interested in absolute coeff value
                colname = corr_matrix.columns[i]  # getting the name of column
                col_corr.add(colname)
    return col_corr

corr_features = correlation(X_train_forward_S, 0.8)
print('correlated features: ', len(set(corr_features)) )

correlated features:  2

In [26]:
corr_features

{'S_24', 'S_7'}

In [27]:
X_train_forward_S.drop(labels=corr_features, axis=1, inplace=True)
X_train_forward_S.shape

(240000, 19)

In [28]:
X_test_forward_S.drop(labels=corr_features, axis=1, inplace=True)
X_test_forward_S.shape

(60000, 19)

In [29]:
import joblib
import sys
sys.modules['sklearn.externals.joblib'] = joblib

from mlxtend.feature_selection import SequentialFeatureSelector as SFS

In [32]:
train_df_S.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 21 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   S_3     300000 non-null  float64
 1   S_5     300000 non-null  float64
 2   S_6     300000 non-null  float64
 3   S_7     300000 non-null  float64
 4   S_8     300000 non-null  float64
 5   S_9     300000 non-null  float64
 6   S_11    300000 non-null  float64
 7   S_12    300000 non-null  float64
 8   S_13    300000 non-null  float64
 9   S_15    300000 non-null  float64
 10  S_16    300000 non-null  float64
 11  S_17    300000 non-null  float64
 12  S_18    300000 non-null  float64
 13  S_19    300000 non-null  float64
 14  S_20    300000 non-null  float64
 15  S_22    300000 non-null  float64
 16  S_23    300000 non-null  float64
 17  S_24    300000 non-null  float64
 18  S_25    300000 non-null  float64
 19  S_26    300000 non-null  float64
 20  S_27    300000 non-null  float64
dtypes: float64(21)
memory usage: 48.1 MB

In [34]:
X_train_forward_S['target'] = y_train_forward_S

In [35]:
X_train_forward_S_sample = X_train_forward_S.sample(n=15000)

In [36]:
y_train_forward_S_sample = X_train_forward_S_sample['target']
X_train_forward_S_sample.drop('target', axis=1, inplace=True)

In [38]:
X_train_forward_S_sample = X_train_forward_S_sample.astype('float64')

In [40]:
X_train_forward_S_sample.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15000 entries, 32492 to 120188
Data columns (total 19 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   S_3     12114 non-null  float64
 1   S_5     15000 non-null  float64
 2   S_6     15000 non-null  float64
 3   S_8     15000 non-null  float64
 4   S_9     6971 non-null   float64
 5   S_11    15000 non-null  float64
 6   S_12    15000 non-null  float64
 7   S_13    15000 non-null  float64
 8   S_15    15000 non-null  float64
 9   S_16    15000 non-null  float64
 10  S_17    15000 non-null  float64
 11  S_18    15000 non-null  float64
 12  S_19    15000 non-null  float64
 13  S_20    15000 non-null  float64
 14  S_22    14960 non-null  float64
 15  S_23    15000 non-null  float64
 16  S_25    14958 non-null  float64
 17  S_26    14997 non-null  float64
 18  S_27    11134 non-null  float64
dtypes: float64(19)
memory usage: 2.3 MB

In [41]:
for ele in X_train_forward_S_sample.columns :
  if X_train_forward_S_sample[ele].isna().sum() != 0:
    mean_value = X_train_forward_S_sample[ele].mean()
    X_train_forward_S_sample[ele].fillna(mean_value, inplace=True)

In [42]:
X_train_forward_S_sample.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15000 entries, 32492 to 120188
Data columns (total 19 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   S_3     15000 non-null  float64
 1   S_5     15000 non-null  float64
 2   S_6     15000 non-null  float64
 3   S_8     15000 non-null  float64
 4   S_9     15000 non-null  float64
 5   S_11    15000 non-null  float64
 6   S_12    15000 non-null  float64
 7   S_13    15000 non-null  float64
 8   S_15    15000 non-null  float64
 9   S_16    15000 non-null  float64
 10  S_17    15000 non-null  float64
 11  S_18    15000 non-null  float64
 12  S_19    15000 non-null  float64
 13  S_20    15000 non-null  float64
 14  S_22    15000 non-null  float64
 15  S_23    15000 non-null  float64
 16  S_25    15000 non-null  float64
 17  S_26    15000 non-null  float64
 18  S_27    15000 non-null  float64
dtypes: float64(19)
memory usage: 2.3 MB

### Forward Feature Selection

In [46]:
sfs1_s = SFS(RandomForestClassifier(), 
           k_features=8, 
           forward=True, 
           floating=False, 
           verbose=2,
           scoring='roc_auc',
           cv=3)

sfs1_s = sfs1_s.fit(np.array(X_train_forward_S_sample), y_train_forward_S_sample)

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    7.5s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  19 out of  19 | elapsed:  2.3min finished

[2022-07-19 06:57:16] Features: 1/8 -- score: 0.5126356781054812[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    6.1s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  18 out of  18 | elapsed:  1.9min finished

[2022-07-19 06:59:08] Features: 2/8 -- score: 0.5125143912329714[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    5.9s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  17 out of  17 | elapsed:  1.7min finished

[2022-07-19 07:00:48] Features: 3/8 -- score: 0.521989397264495[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    8.9s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  16 out of  16 | elapsed:  2.4min finished

[2022-07-19 07:03:11] Features: 4/8 -- score: 0.5202306338912074[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    9.1s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  15 out of  15 | elapsed:  2.3min finished

[2022-07-19 07:05:27] Features: 5/8 -- score: 0.5242822199240256[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    9.2s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  14 out of  14 | elapsed:  2.1min finished

[2022-07-19 07:07:34] Features: 6/8 -- score: 0.5196701242789998[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    8.9s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  13 out of  13 | elapsed:  1.9min finished

[2022-07-19 07:09:30] Features: 7/8 -- score: 0.5205421374656474[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    9.1s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  12 out of  12 | elapsed:  1.8min finished

[2022-07-19 07:11:18] Features: 8/8 -- score: 0.5203722082199295

In [48]:
X_train_forward_S_sample.columns[list(sfs1_s.k_feature_idx_)]

Index(['S_5', 'S_9', 'S_15', 'S_17', 'S_18', 'S_22', 'S_25', 'S_27'], dtype='object')

### Recursive Feature Elimination

In [49]:
from sklearn.feature_selection import RFE

In [50]:
# Init the transformer
rfe_S = RFE(estimator=RandomForestClassifier(), n_features_to_select=8)

# Fit to the training data
rfe_S = rfe_S.fit(X_train_forward_S_sample, y_train_forward_S_sample)

In [51]:
X_train_forward_S_sample.columns[rfe_S.support_]

Index(['S_5', 'S_11', 'S_12', 'S_17', 'S_18', 'S_19', 'S_20', 'S_25'], dtype='object')

## P-Variables

In [52]:
train_df_P = train_df.copy()
train_df_P.head()

,customer_ID,S_2,P_2,D_39,B_1,B_2,R_1,S_3,D_41,B_3,...,D_136,D_137,D_138,D_139,D_140,D_141,D_142,D_143,D_144,D_145
0,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-03-09,0.938469,0.001733,0.008724,1.006838,0.009228,0.124035,0.008771,0.004709,...,NaN,NaN,NaN,0.002427,0.003706,0.003818,NaN,0.000569,0.000610,0.002674
1,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-04-07,0.936665,0.005775,0.004923,1.000653,0.006151,0.126750,0.000798,0.002714,...,NaN,NaN,NaN,0.003954,0.003167,0.005032,NaN,0.009576,0.005492,0.009217
2,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-05-28,0.954180,0.091505,0.021655,1.009672,0.006815,0.123977,0.007598,0.009423,...,NaN,NaN,NaN,0.003269,0.007329,0.000427,NaN,0.003429,0.006986,0.002603
3,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-06-13,0.960384,0.002455,0.013683,1.002700,0.001373,0.117169,0.000685,0.005531,...,NaN,NaN,NaN,0.006117,0.004516,0.003200,NaN,0.008419,0.006527,0.009600
4,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-07-16,0.947248,0.002483,0.015193,1.000727,0.007605,0.117325,0.004653,0.009312,...,NaN,NaN,NaN,0.003671,0.004946,0.008889,NaN,0.001670,0.008126,0.009827

In [53]:
for ele in train_df.columns :
  if ele[0] != 'P':
    train_df_P.drop(ele, axis=1, inplace=True)

train_df_P.shape

(300000, 3)

In [54]:
train_df_P.head()

        P_2       P_3       P_4
0  0.938469  0.736463  0.007554
1  0.936665  0.720886  0.004832
2  0.954180  0.738044  0.006561
3  0.960384  0.741813  0.009559
4  0.947248  0.691986  0.008156

## B_Variables

In [56]:
train_df_B = train_df.copy()
train_df_B.head()

,customer_ID,S_2,P_2,D_39,B_1,B_2,R_1,S_3,D_41,B_3,...,D_136,D_137,D_138,D_139,D_140,D_141,D_142,D_143,D_144,D_145
0,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-03-09,0.938469,0.001733,0.008724,1.006838,0.009228,0.124035,0.008771,0.004709,...,NaN,NaN,NaN,0.002427,0.003706,0.003818,NaN,0.000569,0.000610,0.002674
1,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-04-07,0.936665,0.005775,0.004923,1.000653,0.006151,0.126750,0.000798,0.002714,...,NaN,NaN,NaN,0.003954,0.003167,0.005032,NaN,0.009576,0.005492,0.009217
2,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-05-28,0.954180,0.091505,0.021655,1.009672,0.006815,0.123977,0.007598,0.009423,...,NaN,NaN,NaN,0.003269,0.007329,0.000427,NaN,0.003429,0.006986,0.002603
3,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-06-13,0.960384,0.002455,0.013683,1.002700,0.001373,0.117169,0.000685,0.005531,...,NaN,NaN,NaN,0.006117,0.004516,0.003200,NaN,0.008419,0.006527,0.009600
4,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-07-16,0.947248,0.002483,0.015193,1.000727,0.007605,0.117325,0.004653,0.009312,...,NaN,NaN,NaN,0.003671,0.004946,0.008889,NaN,0.001670,0.008126,0.009827

In [57]:
for ele in train_df.columns :
  if ele[0] != 'B':
    train_df_B.drop(ele, axis=1, inplace=True)

train_df_B.shape

(300000, 40)

In [58]:
train_df_B.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 40 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   B_1     300000 non-null  float64
 1   B_2     299884 non-null  float64
 2   B_3     299884 non-null  float64
 3   B_4     300000 non-null  float64
 4   B_5     300000 non-null  float64
 5   B_6     299990 non-null  float64
 6   B_7     300000 non-null  float64
 7   B_8     298749 non-null  float64
 8   B_9     300000 non-null  float64
 9   B_10    300000 non-null  float64
 10  B_11    300000 non-null  float64
 11  B_12    300000 non-null  float64
 12  B_13    297300 non-null  float64
 13  B_14    300000 non-null  float64
 14  B_15    299684 non-null  float64
 15  B_16    299884 non-null  float64
 16  B_17    130667 non-null  float64
 17  B_18    300000 non-null  float64
 18  B_19    299884 non-null  float64
 19  B_20    299884 non-null  float64
 20  B_21    300000 non-null  float64
 21  B_22    299884 non-null  float64
 22  B_23    300000 non-null  float64
 23  B_24    300000 non-null  float64
 24  B_25    299684 non-null  float64
 25  B_26    299884 non-null  float64
 26  B_27    299884 non-null  float64
 27  B_28    300000 non-null  float64
 28  B_29    20266 non-null   float64
 29  B_30    299884 non-null  float64
 30  B_31    300000 non-null  int64
 31  B_32    300000 non-null  float64
 32  B_33    299884 non-null  float64
 33  B_36    300000 non-null  float64
 34  B_37    299997 non-null  float64
 35  B_38    299884 non-null  float64
 36  B_39    2004 non-null    float64
 37  B_40    299997 non-null  float64
 38  B_41    299947 non-null  float64
 39  B_42    3761 non-null    float64
dtypes: float64(39), int64(1)
memory usage: 91.6 MB

In [59]:
train_df_B.drop('B_42', axis=1, inplace=True)

### Feature Selection using VarianceThreshold

In [60]:
from sklearn.feature_selection import VarianceThreshold
sel_b = VarianceThreshold(threshold=0)
sel_b.fit(train_df_B)

VarianceThreshold(threshold=0)

In [61]:
sel_b.get_support()

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True])

* So there are no **B-variables** with zero variance or same values throughout.

### Wrapper Techniques

In [62]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier

In [63]:
y_train = pd.read_csv("/content/drive/MyDrive/AMEX_default_prediction_kaggle/labels_300000")['target']
y_train.value_counts()

0    224534
1     75466
Name: target, dtype: int64

In [64]:
X_train_forward_B, X_test_forward_B, y_train_forward_B, y_test_forward_B = train_test_split(train_df_B, y_train, test_size=0.2, random_state=42)
X_train_forward_B.shape, X_test_forward_B.shape, y_train_forward_B.shape, y_test_forward_B.shape

((240000, 39), (60000, 39), (240000,), (60000,))

In [65]:
corr_features = correlation(X_train_forward_B, 0.8)
print('correlated features: ', len(set(corr_features)) )

correlated features:  8

In [66]:
corr_features

{'B_11', 'B_13', 'B_15', 'B_18', 'B_20', 'B_23', 'B_33', 'B_37'}

In [67]:
X_train_forward_B.drop(labels=corr_features, axis=1, inplace=True)
X_train_forward_B.shape

(240000, 31)

In [68]:
X_test_forward_B.drop(labels=corr_features, axis=1, inplace=True)
X_test_forward_B.shape

(60000, 31)

In [70]:
X_train_forward_B.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 240000 entries, 254099 to 121958
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   B_1     240000 non-null  float64
 1   B_2     239908 non-null  float64
 2   B_3     239908 non-null  float64
 3   B_4     240000 non-null  float64
 4   B_5     240000 non-null  float64
 5   B_6     239992 non-null  float64
 6   B_7     240000 non-null  float64
 7   B_8     239002 non-null  float64
 8   B_9     240000 non-null  float64
 9   B_10    240000 non-null  float64
 10  B_12    240000 non-null  float64
 11  B_14    240000 non-null  float64
 12  B_16    239908 non-null  float64
 13  B_17    104583 non-null  float64
 14  B_19    239908 non-null  float64
 15  B_21    240000 non-null  float64
 16  B_22    239908 non-null  float64
 17  B_24    240000 non-null  float64
 18  B_25    239755 non-null  float64
 19  B_26    239908 non-null  float64
 20  B_27    239908 non-null  float64
 21  B_28    240000 non-null  float64
 22  B_29    16247 non-null   float64
 23  B_30    239908 non-null  float64
 24  B_31    240000 non-null  int64
 25  B_32    240000 non-null  float64
 26  B_36    240000 non-null  float64
 27  B_38    239908 non-null  float64
 28  B_39    1603 non-null    float64
 29  B_40    239997 non-null  float64
 30  B_41    239955 non-null  float64
dtypes: float64(30), int64(1)
memory usage: 58.6 MB

In [71]:
X_train_forward_B.drop(labels=['B_29','B_39','B_17'], axis=1, inplace=True)

In [72]:
X_train_forward_B['target'] = y_train_forward_B

In [73]:
X_train_forward_B_sample = X_train_forward_B.sample(n=20000)

In [74]:
y_train_forward_B_sample = X_train_forward_B_sample['target']
X_train_forward_B_sample.drop('target', axis=1, inplace=True)

In [75]:
for ele in X_train_forward_B_sample.columns :
  if X_train_forward_B_sample[ele].isna().sum() != 0:
    mean_value = X_train_forward_B_sample[ele].mean()
    X_train_forward_B_sample[ele].fillna(mean_value, inplace=True)

In [76]:
X_train_forward_B_sample.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20000 entries, 177772 to 12863
Data columns (total 28 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   B_1     20000 non-null  float64
 1   B_2     20000 non-null  float64
 2   B_3     20000 non-null  float64
 3   B_4     20000 non-null  float64
 4   B_5     20000 non-null  float64
 5   B_6     20000 non-null  float64
 6   B_7     20000 non-null  float64
 7   B_8     20000 non-null  float64
 8   B_9     20000 non-null  float64
 9   B_10    20000 non-null  float64
 10  B_12    20000 non-null  float64
 11  B_14    20000 non-null  float64
 12  B_16    20000 non-null  float64
 13  B_19    20000 non-null  float64
 14  B_21    20000 non-null  float64
 15  B_22    20000 non-null  float64
 16  B_24    20000 non-null  float64
 17  B_25    20000 non-null  float64
 18  B_26    20000 non-null  float64
 19  B_27    20000 non-null  float64
 20  B_28    20000 non-null  float64
 21  B_30    20000 non-null  float64
 22  B_31    20000 non-null  int64
 23  B_32    20000 non-null  float64
 24  B_36    20000 non-null  float64
 25  B_38    20000 non-null  float64
 26  B_40    20000 non-null  float64
 27  B_41    20000 non-null  float64
dtypes: float64(27), int64(1)
memory usage: 4.4 MB

In [77]:
X_train_forward_B_sample = X_train_forward_B_sample.astype('float64')

### Forward Feature Selection

In [78]:
sfs_b = SFS(estimator=RandomForestClassifier(),
            k_features=14,
            forward=True,
            floating=False, 
            verbose=2,
            scoring='roc_auc',
            cv=3)

sfs_b.fit(np.array(X_train_forward_B_sample), y_train_forward_B_sample)

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:   10.5s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  28 out of  28 | elapsed:  4.7min finished

[2022-07-19 07:50:39] Features: 1/14 -- score: 0.5108859268656065[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    8.4s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  27 out of  27 | elapsed:  4.0min finished

[2022-07-19 07:54:40] Features: 2/14 -- score: 0.5171712038619743[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    8.4s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  26 out of  26 | elapsed:  3.7min finished

[2022-07-19 07:58:21] Features: 3/14 -- score: 0.5205205169905397[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:   13.9s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  25 out of  25 | elapsed:  5.8min finished

[2022-07-19 08:04:11] Features: 4/14 -- score: 0.5239577749286096[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:   13.4s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  24 out of  24 | elapsed:  5.3min finished

[2022-07-19 08:09:31] Features: 5/14 -- score: 0.5245271226358675[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:   13.3s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  23 out of  23 | elapsed:  5.1min finished

[2022-07-19 08:14:36] Features: 6/14 -- score: 0.5258565887770706[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:   13.4s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  22 out of  22 | elapsed:  4.9min finished

[2022-07-19 08:19:27] Features: 7/14 -- score: 0.5268648470464193[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:   13.3s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  21 out of  21 | elapsed:  4.6min finished

[2022-07-19 08:24:05] Features: 8/14 -- score: 0.527731483645654[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:   17.8s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  20 out of  20 | elapsed:  6.1min finished

[2022-07-19 08:30:10] Features: 9/14 -- score: 0.5282438172807683[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:   17.4s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  19 out of  19 | elapsed:  5.5min finished

[2022-07-19 08:35:43] Features: 10/14 -- score: 0.5264958130306426[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:   17.4s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  18 out of  18 | elapsed:  5.3min finished

[2022-07-19 08:41:01] Features: 11/14 -- score: 0.5255846602418193[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:   16.0s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  17 out of  17 | elapsed:  4.5min finished

[2022-07-19 08:45:32] Features: 12/14 -- score: 0.5250351743289773[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:   16.3s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  16 out of  16 | elapsed:  4.3min finished

[2022-07-19 08:49:50] Features: 13/14 -- score: 0.5217399119784077[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:   16.1s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  15 out of  15 | elapsed:  4.2min finished

[2022-07-19 08:54:03] Features: 14/14 -- score: 0.5227273587723992

SequentialFeatureSelector(cv=3, estimator=RandomForestClassifier(),
                          k_features=14, scoring='roc_auc', verbose=2)

In [79]:
X_train_forward_B_sample.columns[list(sfs_b.k_feature_idx_)]

Index(['B_1', 'B_2', 'B_6', 'B_7', 'B_9', 'B_12', 'B_14', 'B_16', 'B_22',
       'B_26', 'B_30', 'B_36', 'B_38', 'B_40'],
      dtype='object')

### Recursive Feature Elimination

In [80]:
from sklearn.feature_selection import RFE

In [81]:
# Init the transformer
rfe_B = RFE(estimator=RandomForestClassifier(), n_features_to_select=14)

# Fit to the training data
rfe_B = rfe_B.fit(X_train_forward_B_sample, y_train_forward_B_sample)

In [82]:
X_train_forward_B_sample.columns[rfe_B.support_]

Index(['B_1', 'B_4', 'B_8', 'B_9', 'B_12', 'B_16', 'B_19', 'B_21', 'B_22',
       'B_26', 'B_27', 'B_32', 'B_36', 'B_41'],
      dtype='object')

## R-Variables

In [83]:
train_df_R = train_df.copy()
train_df_R.head()

,customer_ID,S_2,P_2,D_39,B_1,B_2,R_1,S_3,D_41,B_3,...,D_136,D_137,D_138,D_139,D_140,D_141,D_142,D_143,D_144,D_145
0,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-03-09,0.938469,0.001733,0.008724,1.006838,0.009228,0.124035,0.008771,0.004709,...,NaN,NaN,NaN,0.002427,0.003706,0.003818,NaN,0.000569,0.000610,0.002674
1,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-04-07,0.936665,0.005775,0.004923,1.000653,0.006151,0.126750,0.000798,0.002714,...,NaN,NaN,NaN,0.003954,0.003167,0.005032,NaN,0.009576,0.005492,0.009217
2,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-05-28,0.954180,0.091505,0.021655,1.009672,0.006815,0.123977,0.007598,0.009423,...,NaN,NaN,NaN,0.003269,0.007329,0.000427,NaN,0.003429,0.006986,0.002603
3,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-06-13,0.960384,0.002455,0.013683,1.002700,0.001373,0.117169,0.000685,0.005531,...,NaN,NaN,NaN,0.006117,0.004516,0.003200,NaN,0.008419,0.006527,0.009600
4,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-07-16,0.947248,0.002483,0.015193,1.000727,0.007605,0.117325,0.004653,0.009312,...,NaN,NaN,NaN,0.003671,0.004946,0.008889,NaN,0.001670,0.008126,0.009827

In [84]:
for ele in train_df.columns :
  if ele[0] != 'R':
    train_df_R.drop(ele, axis=1, inplace=True)

train_df_R.shape

(300000, 28)

In [86]:
train_df_R.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 28 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   R_1     300000 non-null  float64
 1   R_2     300000 non-null  float64
 2   R_3     300000 non-null  float64
 3   R_4     300000 non-null  float64
 4   R_5     300000 non-null  float64
 5   R_6     300000 non-null  float64
 6   R_7     300000 non-null  float64
 7   R_8     300000 non-null  float64
 8   R_9     17776 non-null   float64
 9   R_10    300000 non-null  float64
 10  R_11    300000 non-null  float64
 11  R_12    299997 non-null  float64
 12  R_13    300000 non-null  float64
 13  R_14    300000 non-null  float64
 14  R_15    300000 non-null  float64
 15  R_16    300000 non-null  float64
 16  R_17    300000 non-null  float64
 17  R_18    300000 non-null  float64
 18  R_19    300000 non-null  float64
 19  R_20    299994 non-null  float64
 20  R_21    300000 non-null  float64
 21  R_22    300000 non-null  float64
 22  R_23    300000 non-null  float64
 23  R_24    300000 non-null  float64
 24  R_25    300000 non-null  float64
 25  R_26    32094 non-null   float64
 26  R_27    293155 non-null  float64
 27  R_28    300000 non-null  float64
dtypes: float64(28)
memory usage: 64.1 MB

In [87]:
train_df_R.drop('R_9', axis=1, inplace=True)

### Feature Selection using VarianceThreshold

In [88]:
from sklearn.feature_selection import VarianceThreshold
sel_r = VarianceThreshold(threshold=0)
sel_r.fit(train_df_R)

VarianceThreshold(threshold=0)

In [89]:
sel_r.get_support()

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True])

* So there are no **R-variables** with zero variance or same values throughout.

### Wrapper Techniques

In [90]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier

In [91]:
y_train = pd.read_csv("/content/drive/MyDrive/AMEX_default_prediction_kaggle/labels_300000")['target']
y_train.value_counts()

0    224534
1     75466
Name: target, dtype: int64

In [93]:
X_train_forward_R, X_test_forward_R, y_train_forward_R, y_test_forward_R = train_test_split(train_df_R, y_train, test_size=0.2, random_state=42)
X_train_forward_R.shape, X_test_forward_R.shape, y_train_forward_R.shape, y_test_forward_R.shape

((240000, 27), (60000, 27), (240000,), (60000,))

In [94]:
corr_features = correlation(X_train_forward_R, 0.8)
print('correlated features: ', len(set(corr_features)) )

correlated features:  0

In [96]:
X_train_forward_R.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 240000 entries, 254099 to 121958
Data columns (total 27 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   R_1     240000 non-null  float64
 1   R_2     240000 non-null  float64
 2   R_3     240000 non-null  float64
 3   R_4     240000 non-null  float64
 4   R_5     240000 non-null  float64
 5   R_6     240000 non-null  float64
 6   R_7     240000 non-null  float64
 7   R_8     240000 non-null  float64
 8   R_10    240000 non-null  float64
 9   R_11    240000 non-null  float64
 10  R_12    239997 non-null  float64
 11  R_13    240000 non-null  float64
 12  R_14    240000 non-null  float64
 13  R_15    240000 non-null  float64
 14  R_16    240000 non-null  float64
 15  R_17    240000 non-null  float64
 16  R_18    240000 non-null  float64
 17  R_19    240000 non-null  float64
 18  R_20    239995 non-null  float64
 19  R_21    240000 non-null  float64
 20  R_22    240000 non-null  float64
 21  R_23    240000 non-null  float64
 22  R_24    240000 non-null  float64
 23  R_25    240000 non-null  float64
 24  R_26    25706 non-null   float64
 25  R_27    234557 non-null  float64
 26  R_28    240000 non-null  float64
dtypes: float64(27)
memory usage: 51.3 MB

In [97]:
X_train_forward_R.drop(['R_26'], axis=1, inplace=True)

In [98]:
X_train_forward_R['target'] = y_train_forward_R

In [101]:
X_train_forward_R_sample = X_train_forward_R.sample(n=20000)

In [102]:
y_train_forward_R_sample = X_train_forward_R_sample['target']
X_train_forward_R_sample.drop('target', axis=1, inplace=True)

In [103]:
for ele in X_train_forward_R_sample.columns :
  if X_train_forward_R_sample[ele].isna().sum() != 0:
    mean_value = X_train_forward_R_sample[ele].mean()
    X_train_forward_R_sample[ele].fillna(mean_value, inplace=True)

In [104]:
X_train_forward_R_sample.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20000 entries, 222321 to 171720
Data columns (total 26 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   R_1     20000 non-null  float64
 1   R_2     20000 non-null  float64
 2   R_3     20000 non-null  float64
 3   R_4     20000 non-null  float64
 4   R_5     20000 non-null  float64
 5   R_6     20000 non-null  float64
 6   R_7     20000 non-null  float64
 7   R_8     20000 non-null  float64
 8   R_10    20000 non-null  float64
 9   R_11    20000 non-null  float64
 10  R_12    20000 non-null  float64
 11  R_13    20000 non-null  float64
 12  R_14    20000 non-null  float64
 13  R_15    20000 non-null  float64
 14  R_16    20000 non-null  float64
 15  R_17    20000 non-null  float64
 16  R_18    20000 non-null  float64
 17  R_19    20000 non-null  float64
 18  R_20    20000 non-null  float64
 19  R_21    20000 non-null  float64
 20  R_22    20000 non-null  float64
 21  R_23    20000 non-null  float64
 22  R_24    20000 non-null  float64
 23  R_25    20000 non-null  float64
 24  R_27    20000 non-null  float64
 25  R_28    20000 non-null  float64
dtypes: float64(26)
memory usage: 4.1 MB

### Forward Feature Selection

In [105]:
sfs_r = SFS(estimator=RandomForestClassifier(),
            k_features=10,
            forward=True,
            floating=False, 
            verbose=2,
            scoring='roc_auc',
            cv=3)

sfs_r.fit(np.array(X_train_forward_R_sample), y_train_forward_R_sample)

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:   11.0s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  26 out of  26 | elapsed:  4.8min finished

[2022-07-19 09:22:23] Features: 1/10 -- score: 0.5113217901547241[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    9.5s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  25 out of  25 | elapsed:  3.9min finished

[2022-07-19 09:26:15] Features: 2/10 -- score: 0.5113076195156233[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    8.8s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  24 out of  24 | elapsed:  3.6min finished

[2022-07-19 09:29:49] Features: 3/10 -- score: 0.5150723355949641[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:   14.0s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  23 out of  23 | elapsed:  5.4min finished

[2022-07-19 09:35:11] Features: 4/10 -- score: 0.5167632793100724[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:   14.0s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  22 out of  22 | elapsed:  5.1min finished

[2022-07-19 09:40:14] Features: 5/10 -- score: 0.5153910095735341[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:   14.0s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  21 out of  21 | elapsed:  4.7min finished

[2022-07-19 09:44:59] Features: 6/10 -- score: 0.5156384788111735[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:   13.4s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  20 out of  20 | elapsed:  4.5min finished

[2022-07-19 09:49:31] Features: 7/10 -- score: 0.5109775259107119[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:   13.8s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  19 out of  19 | elapsed:  4.3min finished

[2022-07-19 09:53:50] Features: 8/10 -- score: 0.5115557825446903[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:   19.5s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  18 out of  18 | elapsed:  5.8min finished

[2022-07-19 09:59:40] Features: 9/10 -- score: 0.5111211969440593[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:   18.5s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  17 out of  17 | elapsed:  5.2min finished

[2022-07-19 10:04:52] Features: 10/10 -- score: 0.5148715128973231

SequentialFeatureSelector(cv=3, estimator=RandomForestClassifier(),
                          k_features=10, scoring='roc_auc', verbose=2)

In [112]:
X_train_forward_R_sample.columns[list(sfs_r.k_feature_idx_)]

Index(['R_3', 'R_4', 'R_7', 'R_14', 'R_15', 'R_16', 'R_23', 'R_25', 'R_27',
       'R_28'],
      dtype='object')

### Recursive Feature Elimination

In [106]:
from sklearn.feature_selection import RFE

In [107]:
# Init the transformer
rfe_R = RFE(estimator=RandomForestClassifier(), n_features_to_select=10)

# Fit to the training data
rfe_R = rfe_R.fit(X_train_forward_R_sample, y_train_forward_R_sample)

In [110]:
X_train_forward_R_sample.columns[rfe_R.support_]

Index(['R_1', 'R_3', 'R_4', 'R_8', 'R_11', 'R_17', 'R_22', 'R_23', 'R_24',
       'R_28'],
      dtype='object')